{% extends 'base.html' %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Поиск</button></a>
    </form>
    <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
        {% for buy in buys %}
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: buy.title" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ buy.title  }}</text></svg>
                <div class="card-body">
                  <p class="card-text">{{ buy.content|truncatewords:30 }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                       <a href="{% url 'category' buy.category.pk %}">{{ buy.category.title }}</a>
                    </div>
                       <a href="{{ buy.get_absolute_url }}">{{ buy.price }}</a>
                  </div>
                </div>
              </div>
            </div>
          {% empty %}
            Nichego net
          {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

